<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0" metadata-complete="true">
	
	<!-- 配置标签库,Servlet2.4之前需要配置 
	<jsp-config>
		<taglib>
			在JSP页面使用的tld名称,可以看成别名
			<taglib-uri>/WEB-INF/tag.tld</taglib-uri>
			标签库在当前web应用的完整路径，/表示从根路径开始
			<taglib-location>/WEB-INF/tld/tag.tld</taglib-location>
		</taglib>
	</jsp-config> -->
	
	<!-- 监听器 -->
	<!-- <listener>
		<listener-class>监听器.MyServletContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>监听器.MyHttpSessionListener</listener-class>
	</listener>
	<listener>
		<listener-class>监听器.MyServletRequestListener</listener-class>
	</listener>
	<listener>
		<listener-class>监听器.MyServletContextAttributeListener</listener-class>
	</listener> -->
	
	<!-- 过滤器 -->
	<!-- <filter>
		<filter-name>myfilter</filter-name>
		<filter-class>过滤器.MyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>myfilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping> -->

	<!-- 全局参数 -->
	<context-param>
		<param-name>globalParam</param-name>
		<param-value>UTF-8</param-value>
	</context-param>	
	
	<!-- 配置处理异常 -->
	<error-page>
		<!-- JSP页面产生的异常类型 -->
		<exception-type>java.lang.Exception</exception-type>
		<!-- 出现异常时转向的页面 -->
		<location>/WEB-INF/error.jsp</location>
	</error-page>
	<error-page>
		<!-- JSP页面产生的异常代码 -->
		<error-code>404</error-code>
		<!-- 出现异常时转向的页面 -->
		<location>/WEB-INF/error.jsp</location>
	</error-page>


	<!-- 实现Servlet接口 -->
	<servlet>
		<servlet-name>myservlet1</servlet-name>
		<servlet-class>Servlet基础.$1_继承Servlet</servlet-class>
		<!-- 初始化servlet时的参数，通过ServletConfig可以获取值 -->
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<!-- Tomcat一启动就初始化servlet,数字越小越先初始化 -->
		<!-- <load-on-startup>1</load-on-startup> -->
	</servlet>
	<!-- 继承GenericServlet -->
	<servlet>
		<servlet-name>myservlet2</servlet-name>
		<servlet-class>Servlet基础.$2_继承GenericServlet</servlet-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</servlet>
	<!-- 继承HttpServlet -->
	<servlet>
		<servlet-name>myservlet3</servlet-name>
		<servlet-class>Servlet基础.$3_继承HttpServletServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>firstServlet</servlet-name>
		<servlet-class>Servlet进阶.FirstServlet</servlet-class>
	</servlet>
	<!-- 将JSP文件以Servlet方式配置 -->
	<servlet>
		<servlet-name>jspServlet</servlet-name>
		<jsp-file>/WEB-INF/jsp/jspServlet.jsp</jsp-file>
	</servlet>
	<!-- 写入Cookie -->
	<servlet>
		<servlet-name>writeCookie</servlet-name>
		<servlet-class>Servlet进阶.WriteCookieServlet</servlet-class>
	</servlet>
	<!-- 读取Cookie -->
	<servlet>
		<servlet-name>readCookie</servlet-name>
		<servlet-class>Servlet进阶.ReadCookieServlet</servlet-class>
	</servlet>
	<!-- 记录上次访问时间 -->
	<servlet>
		<servlet-name>lastDate</servlet-name>
		<servlet-class>Servlet进阶.LastDateServlet</servlet-class>
	</servlet>
	<!-- 使用Cookie登录JSP页面 -->
	<servlet>
		<servlet-name>loginUseCookie</servlet-name>
		<jsp-file>/WEB-INF/jsp/loginUseCookie.jsp</jsp-file>
	</servlet>
	<!-- 保存Cookie -->
	<servlet>
		<servlet-name>loginSaveCookie</servlet-name>
		<servlet-class>Servlet进阶.LoginSaveCookie</servlet-class>
	</servlet>
	<!-- 使用HttpSession -->
	<servlet>
		<servlet-name>usingHttpSession</servlet-name>
		<servlet-class>Servlet进阶.UsingHttpSession</servlet-class>
	</servlet>
	
	<!-- ServletContext读取属性文件 -->
	<servlet>
		<servlet-name>loadProperties</servlet-name>
		<servlet-class>Servlet进阶.ServletContext读取属性文件</servlet-class>
	</servlet>
	
	<!-- 处理不雅信息 -->
	<servlet>
		<servlet-name>useFilter</servlet-name>
		<servlet-class>Servlet进阶.使用过滤器</servlet-class>
	</servlet>
	
	<!-- 文件上传 -->
	<servlet>
		<servlet-name>upload</servlet-name>
		<servlet-class>文件上传与下载.Upload</servlet-class>
	</servlet>
	
	<!-- 文件下载 -->
	<servlet>
		<servlet-name>download</servlet-name>
		<servlet-class>文件上传与下载.Download</servlet-class>
	</servlet>
	
	<!-- Servlet映射 -->
	<servlet-mapping>
		<servlet-name>myservlet1</servlet-name>
		<url-pattern>/myservlet1</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>myservlet2</servlet-name>
		<url-pattern>/myservlet2</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>myservlet3</servlet-name>
		<url-pattern>/myservlet3</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>firstServlet</servlet-name>
		<url-pattern>/firstServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>jspServlet</servlet-name>
		<url-pattern>/jspServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>readCookie</servlet-name>
		<url-pattern>/readCookie</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>writeCookie</servlet-name>
		<url-pattern>/writeCookie</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>lastDate</servlet-name>
		<url-pattern>/lastDate</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>loginUseCookie</servlet-name>
		<url-pattern>/loginUseCookie</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>loginSaveCookie</servlet-name>
		<url-pattern>/loginSaveCookie</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>usingHttpSession</servlet-name>
		<url-pattern>/usingHttpSession</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>loadProperties</servlet-name>
		<url-pattern>/loadProperties</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>useFilter</servlet-name>
		<url-pattern>/useFilter</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>upload</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>download</servlet-name>
		<url-pattern>/download</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.xhtml</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>



</web-app>
